.heading{
  display: flex;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  align-items: start;
  gap: 10px;
  margin-top: 30px;
  margin-left: 20px;
}



.form{
  width: 30rem;
  background-color:green;
}

.form {
  background-color: #28a745;
  border-radius: 10px;
  padding: 18px; 
  max-width: 100%;
}

.form .form-group {
  margin-bottom: 10px;
}

.form input, .form button {
  width: 100%; 
  padding: 10px;
}
.list-group-item{
  cursor: pointer;
  margin-bottom: 4px;
}

.form button {
  margin-top: 4px;
  background-color: #007bff; 
  border: none;
  border-radius: 5px; 
  color: white;
}

.todo-items {
  max-width: 60%; 
}

.col-sm-3 {
  flex: 0 0 auto;
  width: 30%;
}
.col-sm-9 {
  flex: 0 0 auto;
  width: 70%;
}